@model Amps.Models.Amp
@{
    ViewData["Title"] = $"{Model.Model} | AmpsApp";
}

<section>
    <div class="row column">
        <h1>
            <a href="@Model.Url">@Model.Make @Model.Model</a>
        </h1>
        
    </div>
</section>