@model Amps.Models.Amp[]
@{
    ViewData["Title"] = "AmpsApp";
}

<section>
    <h1>Testing</h1>
    <ul>
        @foreach (var amp in Model)
        {
            <li>@amp.Make @amp.Model</li>
        }
    </ul>
</section>